<!-- Blog Categories Well -->
<div ng-controller="PostListingController" class="card hoverable">
  <div class="card-content blue-text chip-margin">
    <span class="card-title blue-text">Blog Categories</span>
	    <div class="chip  waves-effect waves-orange">
	    	<a href="#/blogs" ng-click="listPostsByCategory('TRENDS');">Trends</a>
	  	</div>
	  	<div class="chip  waves-effect waves-orange">
	  		<a href="#/blogs" ng-click="listPostsByCategory('NEWS');">News</a>
	  	</div>
	  	<div class="chip  waves-effect waves-orange">
	  		<a href="#/blogs" ng-click="listPostsByCategory('TECHNO');">Technology</a>
	  	</div>
	  	<div class="chip  waves-effect waves-orange">
	  		<a href="#/blogs" ng-click="listPostsByCategory('PRODUCT');">Product</a>
	  	</div>
	  	<div class="chip  waves-effect waves-orange">
	  		<a href="#/blogs" ng-click="listPostsByCategory('ENTERTAINMENT');">Entertainment</a>
	  	</div>
	  	<div class="chip  waves-effect waves-orange">
	  		<a href="#/blogs" ng-click="listPostsByCategory('SOCIAL');">Social</a>
	  	</div>
	  	<div class="chip  waves-effect waves-orange">
	  		<a href="#/blogs" ng-click="listPostsByCategory('MEN');">Men</a>
	  	</div>
	  	<div class="chip  waves-effect waves-orange">
	  		<a href="#/blogs" ng-click="listPostsByCategory('WOMEN');">Women</a>
	  	</div>
  </div>
</div>